{% extends "base.html.twig" %}


{% block body %}
    <section class="outWave">
        <h3>Planning des démos</h3>
        <div class="demo">
            <div id="calendar"></div>
            <div id="confirmation"></div>
        </div>    
    </section>
{% endblock body %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
          
            var calendar = new FullCalendar.Calendar(calendarEl, {
                handleWindowResize: true,
                timeZone: 'UTC',
                locale: 'fr-FR',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridDay'
                },
                customButtons: {
                    addEventButton: {
                        click: function() {
                            var dateStr = prompt('Entrer une date au format ANNEE-MOIS-JOUR', '2022-05-15');
                            var date = new Date(dateStr + 'T00:00:00');
                            /* ON AJOUTE 1 POUR AFFICHER LE CRENEAU SUR LA BONNE DATE */
                            date.setDate(date.getDate() + 1);
                            if (!isNaN(date.valueOf())) {
                                calendar.addEvent({
                                    title: 'Ajout créneau',
                                    start: date,
                                    allDay: true
                                });
                                alert('Votre demande de créneau a été ajouté au calendrier, vous pouvez passer à l\'étape suivante');
                                /* ON RETIRE 1 POUR POUVOIR STOCKER LA BONNE DATE EN BDD EN CAS DE BESOIN */
                                date.setDate(date.getDate() - 1);
                            } else {
                                alert('La date n\'est pas valide');
                            }
                        }
                    }
                },
                events: [
                    {
                        daysOfWeek: [ '3' ],
                        title: 'GET-MS',
                        startTime: '10:00:00',
                        endTime: '11:30:00',
                        url: '{{path("demo")}}'
                    },
                    {
                        daysOfWeek: [ '5' ],
                        title: 'GET-MS',
                        startTime: '14:00:00',
                        endTime: '15:30:00',
                        url: '{{path("demo")}}'
                    }
                ],
                eventClick: function(info) {

                    var eventObj = info.event;
                    var options= {
                        day: '2-digit',
                        month: 'long',
                        year: 'numeric',
                    };
                    var fuseau= {
                        timeZone: 'UTC',
                        hour: '2-digit',
                        minute: '2-digit'
                    }
                    
                    confirmation.innerHTML = '<a href="{{path("mail")}}"><button class="btnMooc btn">Prendre RDV</button></a>';
                    info.jsEvent.preventDefault();
                },
            });
            calendar.render();
          });
    </script>
{% endblock %}