{% extends "base.html.twig" %}


{% block body %}
    <section class="outWave">
        <h3>Choississez le créneau de votre choix</h3>
        <div class="demo">
            <div id="cardCalendar" class="card bg-light mb-3">
                <h5 class="card-header">Utilisation du calendrier</h5>
                <div class="card-body">
                    <h5 class="card-title">Etape n°1</h5>
                    <p class="card-text">Cliquer sur le créneau de votre choix dans le calendrier ;</p>
                    <h5 class="card-title">Etape n°2</h5>
                    <p class="card-text">Valider celui-ci dans le récapitulatif en indiquant votre adresse mail ;</p>
                    <h5 class="card-title">Etape n°3</h5>
                    <p class="card-text">Un email nous a été envoyé, notre équipe vous contactera dans les plus brefs délais afin de valider votre rendez-vous ;</p>
                    <h5 class="card-title">Ajouter un créneau :</h5>
                    <p class="card-text">Cliquer sur le bouton "ajouter un créneau" ; renseigner la date de votre choix au format <span>ANNEE-MOIS-JOUR</span>, afin que celle soit validée, cliquer sur ok pour l'ajouter au calendrier et suivez les instructions précédantes pour valider votre choix.</p>
                </div>
            </div>
            <div id="calendar"></div>
            <form id="confirmation" action="" method="post"></form>
        </div>    
    </section>
{% endblock body %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
          
            var calendar = new FullCalendar.Calendar(calendarEl, {
                handleWindowResize: true,
                timeZone: 'UTC',
                locale: 'fr-FR',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next,addEventButton',
                    center: 'title',
                    right: 'dayGridMonth,timeGridDay'
                },
                initialDate: '2022-05-02',
                customButtons: {
                    addEventButton: {
                        text: 'Ajouter un créneau',
                        click: function() {
                            var dateStr = prompt('Entrer une date au format ANNEE-MOIS-JOUR');
                            var date = new Date(dateStr + 'T00:00:00');
                            /* ON AJOUTE 1 POUR AFFICHER LE CRENEAU SUR LA BONNE DATE */
                            date.setDate(date.getDate() + 1);
                            if (!isNaN(date.valueOf())) {
                                calendar.addEvent({
                                    title: 'Ajout créneau',
                                    start: date,
                                    allDay: true
                                });
                                alert('Votre demande de créneau a été ajouté au calendrier, vous pouvez passer à l\'étape suivante');
                                /* ON RETIRE 1 POUR POUVOIR STOCKER LA BONNE DATE EN BDD EN CAS DE BESOIN */
                                date.setDate(date.getDate() - 1);
                            } else {
                                alert('La date n\'est pas valide');
                            }
                        }
                    }
                },
                events: [
                    {
                        daysOfWeek: [ '3' ],
                        title: 'GET-MS',
                        startTime: '10:00:00',
                        endTime: '11:30:00',
                        url: '{{path("demo")}}'
                    },
                    {
                        daysOfWeek: [ '5' ],
                        title: 'GET-MS',
                        startTime: '14:00:00',
                        endTime: '15:30:00',
                        url: '{{path("demo")}}'
                    }
                ],
                eventClick: function(info) {

                    var eventObj = info.event;
                    var options= {
                        day: '2-digit',
                        month: 'long',
                        year: 'numeric',
                    };
                    var fuseau= {
                        timeZone: 'UTC',
                        hour: '2-digit',
                        minute: '2-digit'
                    }
                    
                    confirmation.innerHTML = '<div class="cardInfoDemo"><fieldset><h2>Récapitulatif</h2><label>Intitulé</label><textarea class="cardTitle" disabled>' + eventObj.title + '</textarea><div class="cardDate"><label>Le</label><textarea class="date" disabled>' + eventObj._instance.range.start.toLocaleDateString('fr-FR', options) + '</textarea></div><div class="cardDate"><label> De</label><textarea class="heures" disabled>' + eventObj._instance.range.start.toLocaleTimeString('fr-FR', fuseau) + '</textarea><br><label> A</label><textarea class="heures" disabled>'+ eventObj._instance.range.end.toLocaleTimeString('fr-FR', fuseau) + '</textarea></div><div class="cardDate"><h2>Vos coordonnées</h2><label class="labelCoord" for="">Votre email :</label><input type="email" name="email" id="email" placeholder="Votre email" required></div><button type="submit" class="btn btnCalendar btn-success">Confirmer</button></fieldset></div>';
                    info.jsEvent.preventDefault();
                },
            });
            calendar.render();
          });
    </script>
{% endblock %}