{% extends "base.html.twig" %}


{% block body %}
    <section class="outWave">
        <h3>Planning des démos</h3>
        <div class="moocInfo">
            <p>Merci de bien vouloir cliquer sur le créneau de votre choix et de remplir le formulaire ci-après ; Vous n'êtes pas disponible dans ces créneaux ?  Planifier votre rendez-vous : <a href="{{ path('mail') }}"> Cliquer ici !</a></p>
        </div>
        <div id="calendar"></div>  
    </section>
{% endblock body %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
          
            var calendar = new FullCalendar.Calendar(calendarEl, {
                handleWindowResize: true,
                timeZone: 'UTC',
                locale: 'fr-FR',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridDay'
                },
                events: [
                    {
                        daysOfWeek: [ '3' ],
                        title: 'GET-MS',
                        startTime: '10:00:00',
                        endTime: '11:30:00',
                        url: '{{path("mail")}}'
                    },
                    {
                        daysOfWeek: [ '5' ],
                        title: 'GET-MS',
                        startTime: '14:00:00',
                        endTime: '15:30:00',
                        url: '{{path("mail")}}'
                    }
                ],
            });
            calendar.render();
          });
    </script>
{% endblock %}