{% extends "base.html.twig" %}
{% block body %} 
<section class="bg-foncer">
    <h3>Se connecter</h3>
    <!--formulaire de connexion-->
    <form class="formLogin" action="{{ path('security_login') }}" class="divSecurity" method="post">
        <div>
            <label for="">Votre email :</label>
            <input placeholder="exemple@exemple.com" required name="_username" type="text" class="inputLogin">
        </div>
        <div>
            <label for="">Votre mot de passe :</label>
            <input placeholder="Mot de passe" required name="_password" type="password" class="inputLogin">
        </div>
        <div>
            <button type="submit" class="btn btn-success btnLog">Se connecter</button>
        </div>
    </form>
</section>
    
{% endblock body %}