{% block body %}
<h2>Bonjour</h2>
<p>Une demande de rendez-vous a été envoyé sur le site web, merci de vous rendre sur votre espace administrateur pour plus de détails et sa gestion.</p>
<p>Cordialement.</p>
{% endblock %}