{% extends "base.html.twig" %}

{% block body %}
    <section class="outWave">
        <div class="alert alert-dismissible alert-success">
            <strong>Bonne nouvelle !</strong> Votre demande de rendez-vous a été transmis, un mail de confirmation vous sera envoyé par notre équipe dans les plus bref délais. <br><a href="{{ path('home') }}" class="alert-link">Cliquer pour retourner sur la page d'accueil !</a>.
        </div>
    </section>
{% endblock %}